

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
    
}
.nav-title {
    font-weight: 800;
    font-size: 28px;
    margin-left: 33px;
}

nav ul li {
    list-style: none;
    margin-right: 24px;

    


}


.button-primary{
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: #0d130d;
    padding: 12px 20px;
    border-radius: 5px;

}

.button-secondary{
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 24px 21px;
    border-radius: 5px;
    align-items: center;


}

/* shared style */

.color-1{
    color: 0D1321;
}
/* banner style */

.banner{
    display: block;
    justify-content: center;
    width: 998px;
    height: 309px;
}
.banner-title{
    font-weight: bold;
    text-align: center;
    
    
}
.banner-description{
    font-weight: normal;
    text-align: center;
}
.image-1{
    width: 240.28px;
    height: 240px ;
    text-align: center;

}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

/* header */
.header{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

/* main */
.block-title{
    font-weight: bold;
    text-align: center;
}
.block-description{
    font-weight: normal;
    text-align: center;
   
}
/*group */
.gep{
    margin: 32px;

}
.group-1title{
    font-weight: bold;
    
}
.group-1description{
    font-weight: normal;
}

section-2{
    display: flex;
    justify-content: space-between;
}
.group2-title{
    font-weight: bold;

}
.group2-description{
    font-weight: normal;
}
div2 {
    display: flex;
    justify-content: space-between;
}
.group4-title{
    font-weight: bold;
}
.group4-description{
    font-weight: normal;
}
div4 {
    display: flex;
    justify-content: space-between;
 
}
.sec-title{
    font-size: 24px ;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 32px ;
}
.sec-description{
    font-size: 16px;
    font-weight: normal;
    color: #0d130d;
    text-align: center;

    
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.video{
    width: 1140px;
    height: 775px;
    
}
/*skill 1*/
.skills-current{
    display: flex;
    margin-top: 48px;
    gap: 24px;

}
.skill{
    padding: 40px;
    background-color: #fff6f4;
}
.skill2{
    display: flex;
    margin-top: 48px;
    gap: 24px;
    

    
}
.icon{
    width: 94.78px;
    height: 108px;
}
.skill-content{
    width: 941px;
    height: 139px;
    
}


  



